  .App-header {
    background-color: #FEFEDF;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .nav{
    background-color: #C76CE0;
  }

  .title{
    color: #121C29;
    text-align: center;
    padding: 10px 20px;
  }

  .body-text{
    color: black;
    padding: 10px;
    text-align: justify;
  }

  .img-ada{
    width: 100%;
    height: 100%;
  }